* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(22, 33, 33);

    background-image: url("../images/sfondo-drinkcasuale.png");
    background-size: cover;
    background-position: center center;

}

li {
    list-style-type: none;
}

footer {
    margin-top: 10%;
}

.visit-counter-num { 
    padding-left: 20%;
}


.navbar-brand {
    width: 1%;
}

.logo {
    width: 200%;
    padding-right: 2%;
}

.card {
    max-width: 600px;
   
}

.card-img-top {
    border-radius: 20px;
}

.card-text {
    background-color: rgb(192, 214, 234);
    border-radius: 5px;
    text-align: center;
}

.card-link { 
    text-decoration: none;
    color: #000;
}

.btn-info { 
    background-color: transparent;
    box-shadow: 2px 2px;
}

.loading {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-drink-btn {
    background-color: rgb(255, 255, 255);
    padding: 2%;
    border-radius: 10px;
    box-shadow: 5px 5px;
    font-family: "Bitcount Grid Double", sans-serif;
    font-size: 20px;
    color: black;

}

.search-by-id-ctn {
    max-width: 800px;
    
}

.danger-icon {
    width: 7%;
    margin-left: 50%;
    transform: translate(-50%);
    height: auto;
    appearance: none;
}

.report-bug {
    font-family: "Bitcount Grid Double", sans-serif;
    font-weight: 400;
}


@media (min-width: 1024px) {
    .new-drink-btn {
        font-size: 25px
    }

        .visit-counter-num { 
    padding-left: 3px;
    }
}

@media (max-width: 768px) {
    .navbar-brand {
        width: 3%;
    }
    .footer-box {
        flex-direction: column !important;
        gap: 0 !important;
    }

}

