@import url('https://fonts.googleapis.com/css2?family=BBH+Bartle&family=Bitcount+Grid+Double:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(22, 33, 33);

    background-image: url("../images/sfondo-drinkcasuale.png");
    background-size: cover;
    background-position: center center;

}

li {
    list-style-type: none;
}

footer {
    margin-top: 10%;
}

.visit-counter {
    align-self: center;
}

.visit-counter-num {
    padding-left: 20%;
}


.navbar-brand {
    width: 1%;
}

.logo {
    width: 200%;
    padding-right: 2%;
}

.card {
    max-width: 600px;

}

.card-img-top {
    border-radius: 20px;
}

.card-text {
    background-color: rgb(192, 214, 234);
    border-radius: 5px;
    text-align: center;
}

.card-link {
    text-decoration: none;
    color: #000;
}

.btn-info {
    background-color: transparent;
    box-shadow: 2px 2px;
}

.loading {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-drink-btn {
    width: 150px;
    height: 150px;
    background-color: white;
    padding: 0;
    margin: 40px;
    border-radius: 50%;
    border: 1px solid;
    box-shadow: 5px 5px;
    font-family: "Bitcount Grid Double", sans-serif;
    font-size: 20px;
    color: black;


    box-shadow: 0 6px gray;
    transition: all 0.1s ease;

}

.new-drink-btn:active {
    transform: translateY(6px);
    box-shadow: 0 0 #2e7d32;
}

.search-by-id-ctn {
    max-width: 800px;

}

.danger-icon {
    width: 7%;
    margin-left: 50%;
    transform: translate(-50%);
    height: auto;
    appearance: none;
}

.report-problem-btn {
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(102, 102, 210);
}

.report-problem-btn a {
    color: white;
    font-family: Bitcount Grid Double, sans-serif;
}

/* PAGINA DI LOGIN */


.form-container {
    width: 20%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 10%;
    background-color: rgb(79, 75, 75);
    border-radius: 10px;
    padding: 30px;
}

.email-block {
    text-align: center;
}

.email-block label,
.pass-block label {
    color: white;
    font-size: 3vh;
    background-color: rgb(102, 102, 210);
    padding: 5px 40px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.email-block input,
.pass-block input {
    padding: 10px 10px;
    margin-bottom: 20px;


}

.pass-block {
    text-align: center;
}



@media (min-width: 1024px) {
    .new-drink-btn {
        font-size: 25px
    }

    .visit-counter-num {
        padding-left: 3px;
    }
}

@media (max-width: 768px) {
    .navbar-brand {
        width: 3%;
    }



    .visit-counter {
        align-self: initial;
    }


    /* PAGINA DI LOGIN */

    .form-container {
        width: 85%;
    }

}

@media (max-width: 425px) {

    .footer-box {
        flex-direction: column !important;
        gap: 0 !important;
    }
}