@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Luckiest+Guy&display=swap');

@import url("style-list-page.css");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background: linear-gradient(180deg, #2c3e50, #5b2c82);

    background-size: cover;
    background-position: center center;

}

li {
    list-style-type: none;
}

footer {
    margin-top: 10%;
    
}

.visit-counter {
    align-self: center;
}

.visit-counter-num {
    padding-left: 20%;
}

.navbar {
    background-color: #6a7b8c;
}

.navbar-nav {
    align-items: center !important;
    justify-content: center;
}

.navbar-brand {
    width: 1%;
}

.logo {
    width: 200%;
    padding-right: 2%;
}

.card {
    max-width: 600px;
 
    background-color: rgba(40, 42, 54, 0.95); 
    color: #FFFFFF;
    box-shadow: 0 6px 20px rgba(0,0,0,0.5);


}

.card-title {
    color: #E0E0FF;
}

.card-img-top {
    border-radius: 20px;
}

.card-text {
    background-color: rgb(192, 214, 234);
    color: #2C2F4A;
    border-radius: 5px;
    text-align: center;
}

.card-link {
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Luckiest Guy" , sans-serif;
    font-weight: 100;
    letter-spacing: 1px;
}

.btn-info {
    background-color:  rgb(102, 102, 210);;
    box-shadow: 2px 2px;
    border: none;
}

.loading {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.new-drink-btn {
    width: 150px;
    height: 150px;
    background: url(./assets/images/gettone-casino4.png);
    background-size: cover;
    background-position: center;
    padding: 0;
    margin: 40px;
    border-radius: 50%;
    border: none;
    font-family: "Luckiest Guy", sans-serif;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.6); /* x-offset, y-offset, blur, colore */
    letter-spacing: 2px; 
    border-radius: 50%; 
    background-color: transparent; 
    box-shadow: 0 5px 15px rgba(0,0,0,0.4); 
    transition: all 0.2s ease; 


    


}

.new-drink-btn:active {
    transform: translateY(6px);
    box-shadow: 0 0 #2e7d32;
}

.search-by-id-btn {
    max-width: 800px;
    border-radius: 10px;
    padding: 10px;
    background-color: #6666d2;
    color: #FFFFFF;
    font-family: "Luckiest Guy", sans-serif;
    letter-spacing: 1px;

}

.new-drink-btn.pressed {
    transform: translateY(3px);
    box-shadow: 0 2px 6px rgba(0,0,0,0.5);
}


.danger-icon {
    width: 7%;
    margin-left: 50%;
    transform: translate(-50%);
    height: auto;
    appearance: none;
}

.report-problem-btn {
    margin: 10px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(102, 102, 210);
}

.report-problem-btn a {
    color: white;
    font-family: Bitcount Grid Double, sans-serif;
}

/* PAGINA DI LOGIN */


.form-container {
    width: 20%;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 10%;
    background-color: rgb(79, 75, 75);
    border-radius: 10px;
    padding: 30px;
}

.email-block {
    text-align: center;
}

.email-block label,
.pass-block label {
    color: white;
    font-size: 3vh;
    background-color: rgb(102, 102, 210);
    padding: 5px 40px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.email-block input,
.pass-block input {
    padding: 10px 10px;
    margin-bottom: 20px;


}

.pass-block {
    text-align: center;
}



@media (min-width: 1024px) {
    .new-drink-btn {
        font-size: 100%
    }

    .visit-counter-num {
        padding-left: 3px;
    }
}

@media (max-width: 768px) {
    .navbar-brand {
        width: 3%;
    }

    footer {
        margin-top: 20vh;
    }

    .visit-counter {
        align-self: initial;
        
    }
    
    .visit-counter-num {
        padding-left: 5%;
    }


    /* PAGINA DI LOGIN */

    .form-container {
        width: 85%;
    }

}

@media (max-width: 425px) {

    .drinks-ctn{
        margin: 10px 0px !important;
    }

    .footer-box {
        flex-direction: column !important;
        gap: 0 !important;
        width: 300px;
    }


}